:root {
  --dark: #111;
  --light: #eee;
  --color: rgba(35, 35, 218, 0.66);
}

* {
  /* border: 1px solid gray; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark);
}

header {
  background-color: var(--color);
  color: var(--light);
}

header, section {
  padding: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

#site-header {
  font-size: 3rem;
  text-align: center;
}

nav {
  background-color: var(--color);
  padding: 1em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

main {
  text-align: center;
}

section * {
  padding: 1em;
}

h2 {
  color: var(--color);
}

input[type=text], textarea {
  border: 1px solid var(--color);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--color);
}

input[type=text], textarea, .btn-action {
  letter-spacing: 1px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--light);
}

.btn-action {
  padding: 5px 10px;
}

.btn-action {
  background-color: transparent;
  border: 1px solid var(--color);
  font-size: 1.25rem;
  /* font-weight: 100; */
  color: var(--color);
  cursor: pointer;
}

.btn-action:hover {
  background-color: var(--color);
  color: var(--light);
}